<footer class="footer mt-3">
    <div class="row">
        <div class="col-3">
            <h3>Features</h3>
            <a class="nav-link text-decoration-none text-dark" href="#">Link 1</a>
            <a class="nav-link text-decoration-none text-dark" href="#">Link 2</a>
            <a class="nav-link text-decoration-none text-dark" href="#">Link 3</a>
        </div>

        <div class="col-3">
            <h3>About</h3>
            <a class="nav-link text-decoration-none text-dark" href="#">Link 1</a>
            <a class="nav-link text-decoration-none text-dark" href="#">Link 2</a>
            <a class="nav-link text-decoration-none text-dark" href="#">Link 3</a>
        </div>

        <div class="col-3">
            <h3>Resources</h3>
            <a class="nav-link text-decoration-none text-dark" href="#">Link 1</a>
            <a class="nav-link text-decoration-none text-dark" href="#">Link 2</a>
            <a class="nav-link text-decoration-none text-dark" href="#">Link 3</a>
        </div>

        <div class="col-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.146183515583!2d77.48322107454834!3d13.08992041227425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae237112f6caa7%3A0xb22757359c6730f2!2sAcharya%20Institute%20Of%20Technology%2C%2061%2C%204th%20Cross%20Rd%2C%20Achit%20Nagar%2C%20Bengaluru%2C%20Karnataka%20560107!5e0!3m2!1sen!2sin!4v1736593701800!5m2!1sen!2sin" 
            width="150" height="150" style="border:0;margin:10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</footer>