{% extends "base.html" %}
{% block content %}
    <div class="shadow-lg border border-warning rounded-3 p-3 mx-auto my-auto" style="max-width: 23%;">
        <h3 class="text-center my-4" style="font-family:Verdana;">Forgot Password</h3>
        {% include "includes/errors.html" %}
            
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <input class="form-control mb-4" name="email" type="email" placeholder="Email" />
                <div class="d-flex">
                    <button class="btn btn-success mx-auto" type="submit">Reset password</button>
                </div>
            </form>
            <div class="my-3">
            <center>Don't have an account? 
                <a href="{% url 'registerPage' %}" class="text-decoration-none fw-bold">Register</a></center>
            </div>
        </div>
    </div>
{% endblock  %}