{% extends "base.html" %}
{% block content %}
    <div class="shadow-lg border border-warning rounded-3 p-3 position-absolute top-50 start-50 translate-middle" style="min-width: 23%;min-height:40%">
        <h1 class="text-center my-4" style="font-family:Verdana;">Reset Password</h1>
        <div>
            {% include "includes/errors.html" %}
        <div>
            
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <input class="form-control mb-4" name="new_password" type="password" placeholder="New Password" />
                <input class="form-control mb-4" name="confirm_new_password" type="password" placeholder="Confirm New Password" />
                <div class="d-grid gap-2 col-4 mx-auto">
                    <button class="btn btn-success" type="submit">Reset</button>
                </div>
            </form>
        </div>
    </div>
{% endblock  %}